body {
  padding: 10px;
  background-color: white;
  margin: 30px;
  border-bottom: 2px solid red; }

.navigation_menu {
  /* Change the link color to #111 (black) on hover */ }
  .navigation_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }
  .navigation_menu li {
    float: left; }
  .navigation_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navigation_menu li a:hover {
    background-color: #111; }

.button__example {
  display: inline-block;
  color: #444;
  border: 1px solid #CCC;
  background: #DDD;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  max-width: 100px;
  padding: 5px;
  text-align: center; }

.button__example:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6); }

.hide__div {
  display: none; }

#img_main {
  width: 100%; }

#demo {
  color: red; }

#showContainer {
  /* Main wrapper for all images */
  width: 670px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.navButton {
  /* Make buttons look nice */
  cursor: pointer;
  float: left;
  width: 25px;
  height: 22px;
  padding: 10px;
  margin-right: 5px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: #000000;
  opacity: 0.65;
  user-select: none; }

.navButton:hover {
  opacity: 1; }

.imageContainer:not(:first-child) {
  /* Hide all images except the first */
  display: none; }
