@font-face {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Light.eot");
  src: url("../fonts/Raleway/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway/Raleway-Light.svg#Raleway") format("svg"); }

body {
  font-size: 22px; }

p {
  font-family: "Raleway"; }
